# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.user
*.suo

# Logs
*.log

# ---------- .NET ----------
**/bin/
**/obj/
**/.vs/
*.pdb

# Secrets / local settings (IMPORTANT)
**/appsettings.Development.json
**/appsettings.*.local.json
**/secrets.json
**/*.pfx
**/*.cer

# ---------- Node / Angular ----------
**/node_modules/
**/dist/
**/.angular/
**/.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
